@import '../variables'

.dialog__content
	padding $padding_px_md $padding_px_lg 0 !important
	
	p
		font-size $font__size-nm + 1px
		color $clr__content

.mat-dialog-container
	border-radius 8px !important

.dialog__actions
	padding $padding_px_sm 0 $padding_px_md !important

.icon--img
	height 100px
	margin-bottom $margin_px_sm